html{
      position: relative;
  min-height: 100%;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: #f5f5f5;
    z-index: 4;
}

.footer .container{
    text-align: center;
}